* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  /* font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal; */

  #graphic-nav {
    overflow-x: hidden;
    z-index: 5;
    width: 100vw;
    display: flex;
    background-image: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #29005A;
    height: 13vh;
    position: fixed;
    top: 87vh;
  }

  #graphic-nav > button {
    color: white;
    font-size: 1.5em;
    background-color: rgba(1, 1, 1, 0);
  }

  #graphic-nav > button:hover {
    background-color: #dd32f7;
    font-weight: 500;
    color: #4c0a56;
    cursor: pointer;
  }

  #contact-form {
    display: none;
    position: fixed;
    top: 15vh;
    left: 3vw;
    background-color: white;
    padding: 20px;
    font-size: 1.5em;
    z-index: 10;
  }

  #contact-form > button:hover {
    background-color: #dd32f7;
    font-weight: 500;
    color: white;
    cursor: pointer;
  }

.graphic-hero {
  overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #ebd9ff;
    background-image: url("../../assets/graphic-design-assets/graphic-bg.png");
    background-size: cover;
}

.graphic-hero > img {
    width: 100vw;
    height: 100vh;
}

.opacity-fadeout {
  opacity: 0;
  transition: opacity 3s ease;
}

.opacity-fadein {
  opacity: 1;
  transition: opacity 3s ease;
}

.move-navigation {
  animation: move-up 1.75s ease forwards;
}

@keyframes move-up {
  from {
    top: 87vh;
  }
  to {
    top: 0;
  }
}

#graphic-showcase {
    position: fixed;
    top: 20vh;
    height: 70vh;
    width: 100vw;
    font-size: 1.5em;
    z-index: 8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

#graphic-showcase > button {
  background-color: #29005A;
  color: white;
}

#graphic-showcase > button:hover {
  background-color: #dd32f7;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

#showcase-img {
  max-width: 35vw;
  max-height: 70vh;
}

#description {
  border-radius: 50px;
  width: 35vw;
  height: 70vh;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#description > p {
  padding: 5px 40px;
}

#description-title {
  font-weight: 600;
  font-size: 1.5em;
}

#description-description {
  font-size: 1em;
}




