* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  /* font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal; */


.root {
  background-image: linear-gradient(#4D0059, #ED75FF);
  height: 100vh;
  color: white;
  font-size: 1.5em;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin-bottom: 2rem;
}

.loginBTN, .requestBTN {
  padding: 10px 40px;
  font-size: 1em;
  margin: 20px;
  color: black;
  background-color: #F6B9FF;
  border-radius: 25px;
  border: none;
}

.loginBTN:hover, .requestBTN:hover {
  background-color: #4D0059;
  color: white;
  cursor: pointer;
  animation: pulse 1s infinite;
}


/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

#popupShadow {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: rgba(177, 177, 177, 0.5);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
}

#loginPopup {
  width: 500px;
  color: black;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
}

form {
  padding: 20px;
}

.closeLoginPopup {
  padding: 0;
}

.closeLoginPopup:hover {
  background-color: #4D0059;
  color: white;
  cursor: pointer;
  animation: none;
}

#requestPopup {
  width: 500px;
  color: black;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
}

/*Home Page*/
button {
  padding: 10px 40px;
  font-size: 1em;
  margin: 20px;
  color: black;
  background-color: #F6B9FF;
  border-radius: 25px;
  border: none;
}

.projects-hero-navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  margin-top: 10vh;
}

.projects-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 10vw;
  margin-right: 10vw;
}

.projects-hero > img {
  width: 25vw;
}

.projects-hero-navigation > h1 {
  font-size: 2.5em;
}

.projects-hero-navigation > button {
  font-size: 1.75em;
  font-weight: 400;
  margin: 10px;
}

.projects-hero-navigation > button:hover {
  background-color: #4D0059;
  color: white;
  cursor: pointer;
  animation: pulse 1s infinite;
}

.featured {
  width: 100vw;
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/featured-projects.png");
  transform: translateY(-10vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4em;
}

.featured > p {
  font-size: .5em;
}

.certifications {

}

.certifications > img {
  width: 150px;
  margin: 10px;
}

.certifications > img:hover {
  background-color: white;
}

#display-data
{
  font-size: 2em;
  background-color: #4D0059;
  color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}