* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.about-section {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 30vw;
  margin: 30px;
  font-size: 1.5em;
  text-align: center;
}

.about-content > h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: "Aguafina Script", cursive;
  font-style: normal;
  letter-spacing: 0.05em;
}

