* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cta-section {
  justify-self: center;
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(#4D0059, #9e36ae);
  border-radius: 25px;
  width: 80vw;
  color: white;
}

.cta-section > h2 {
  font-size: 3em;
}

.cta-section > button {
  font-size: 1.25em;
}

.cta-section > button:hover {
  background-color: #dd32f7;
  font-weight: 500;
  color: white;
  cursor: pointer;
  animation: pulse 1s infinite;
}



