* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

footer {
  border-radius: 25px;
  width: 98vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > button {
  font-size: 2em;
  font-weight: 500;
  font-family: "Aguafina Script", cursive;
  font-style: normal;
  letter-spacing: 0.05em;
  background-color: #4D0059;
  color: white;
  width: 30vw;
}

footer > button:hover {
  background-color: #dd32f7;
  font-weight: 500;
  color: white;
  cursor: pointer;
}



