* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  /* font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal; */

#portfolio-nav {
  background-image: url('../assets/Nav.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 5vh;
  margin-bottom: 15vh;
}

.left
{
  width: 33vw;
  margin-left: 2em;
  color: white;
  font-size: 2em;
}

.projects {
  width: 33vw;
  margin-right: 3rem;
}

#to_projects {
  float: right;
  padding: 15px 30px;
  font-size: 1.75em;  
}

#to_projects:hover {
  background-color: #dd32f7;
  font-weight: 500;
  color: white;
  cursor: pointer;
  animation: pulse 1s infinite;
}


