* {
  top: 0;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  /* font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal; */

nav {
  background-image: url('./assets/Navigation.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 2rem;
}

.left
{
  margin-left: 3rem;
  color: white;
  font-size: 1.5em;
}

#projects {
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 10px;
  max-height: 75px;
  height: 2em;
  font-size: 1.5em;
}

